__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
include/
lib/
bin/
instance/
.pytest_cache/
.coverage
htmlcov/
.env
.git
.gitignore
app/static/uploads/*
app/static/profile_pics/*
!app/static/uploads/.gitkeep
!app/static/profile_pics/.gitkeep
